* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #1c1c1c;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  width: 550px;
  min-height: 1000px;
  background: #23252c;
}

.main-div {
  margin: 45px 0;
  width: 317px;
  height: 400px;
}

.contact-box {
  width: 317px;
  height: 716 px;
  background: #1a1b21;
  border-radius: 20px 20px 0 0;
}

.profile-image {
  border-radius: 20px 20px 0 0;
  width: 317px;
  display: block;
}

.profile-info {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 15px;
}
.name {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.title {
  font-size: 12px;
  font-weight: 400;
  color: #f3bf99;
}

.website {
  font-size: 10px;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  cursor: pointer;
}
.website a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

/* mouse over link */
.website a:hover {
  color: #ac5353;
}

.contact-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 33px;
}

.contact-info a {
  text-decoration: none;
}

i {
  display: flex;
  text-align: center;
  padding-right: 5px;
  font-size: 16px;
}

.email {
  color: #374151;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin: 0 8px;
  width: 115px;
  height: 34px;
  cursor: pointer;
}

.linkedin {
  background: #5093e2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin: 0 8px;
  width: 115px;
  height: 34px;
  cursor: pointer;
}

.about {
  margin: 0 35px;
  padding-bottom: 27px;
}

.about > h5 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 5px;
}

.about-text {
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 27px;
  line-height: 150%;
}

.interest-text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161619;
  min-height: 65px;
  border-radius: 0 0 20px 20px;
}

footer > span {
  padding: 20px 8px;
  font-size: 30px;
  color: #918e9b;
  cursor: pointer;
}
/* end of footer */
